@import "tailwindcss";
@import "tailwindcss-animated";

body {
  background-color: #01030f;
}

@theme {
  --animate-spin: spin 10s infinite linear;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

