@import "tailwindcss";

body {
  background-color: #030712;
}

@theme {
  --animate-spin: spin 10s infinite linear;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
@theme {
  --animate-appear-left: appearLeft 10s infinite linear;
  @keyframes appearLeft {
    0% {
      right: "50%";
    }
    100% {
      right: "0%";
    }
  }
}
